* ,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    background-color: black;
}

.prisma {
        position: relative;
        width: 0;
        height: 0;
        border: 175px solid transparent;
        border-top: 0;
        border-bottom: 300px solid rgba(255, 255, 255, 0.7);
        filter: blur(2.3px);
        display: flex;
        justify-content: center;
}

.prisma::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 168px solid transparent;
    border-top: 0;
    border-bottom: 290px solid black;
    top: 5px;

}


.light {
    position: absolute;
    top:46%;
    left: 34%;
    width: 24px;
    height: 190px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 80%);
    transform: skew(-68deg);
    animation: light-beam 4s linear infinite;
}

@keyframes light-beam {
    0% {

    }
    50% {
        background-color: white;
    }
    90% {
 
    }
    100% {
     
        filter: blur(20px);
       
    }
}

.raimbow {
    position: absolute;
    top:46%;
    right: 34%;
    width: 34px;
    height: 190px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    transform: skew(68deg);
    animation: raimbow-effect 4s linear infinite;
    }

@keyframes raimbow-effect {
        0% {
            filter: blur(8px)
        }
        50% {
            filter: blur(10px)
        }
        90% {
            filter: blur(15px)
        }
        100% {
        
            filter: blur(20px)
 
        }
}
